DB_HOST=YOUR_HOST
DB_PORT=YOUR_PORT
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_USER_NAME
DB_PASSWORD=YOUR_PASASWORD
SECRET_KEY=YOUR_SECURITY_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=129600
REFRESH_TOKEN_EXPIRE_DAYS=90

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=yourgmail@gmail.com
SMTP_PASSWORD=xxxx xxxx xxxx xxxx
ADMIN_EMAIL=admin@gmail.com
OTP_EXPIRE_MINUTES=10