DB_HOST=YOUR_HOST
DB_PORT=YOUR_PORT
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_USER_NAME
DB_PASSWORD=YOUR_PASASWORD
SECRET_KEY=YOUR_SECURITY_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=129600
REFRESH_TOKEN_EXPIRE_DAYS=90